@font-face {
  font-family: "iconfont"; /* Project id 3301212 */
  src: url('iconfont.woff2?t=1648975862123') format('woff2'),
       url('iconfont.woff?t=1648975862123') format('woff'),
       url('iconfont.ttf?t=1648975862123') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
  content: "\e6ec";
}

.icon-time:before {
  content: "\e784";
}

.icon-location:before {
  content: "\e790";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-read:before {
  content: "\e7d8";
}

.icon-image:before {
  content: "\e7de";
}

.icon-mail:before {
  content: "\e7df";
}

.icon-heart:before {
  content: "\e7e0";
}

.icon-star:before {
  content: "\e7e1";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-double-left:before {
  content: "\e7ed";
}

.icon-double-right:before {
  content: "\e7ee";
}

.icon-arrow-right:before {
  content: "\e7ef";
}

.icon-arrow-left:before {
  content: "\e7f0";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-qq:before {
  content: "\e882";
}

.icon-github:before {
  content: "\e885";
}

.icon-search:before {
  content: "\e8ef";
}

