// 样式初始化文件
::selection {
  background-color: var(--brand-color);
  color: #fff;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

:root {
  --wrapper-width: 9.6rem;
  --aside-width: 3rem;
  --aside-padding: .16rem;
  --border-radius: .16rem;
}

html {
  font-size: 100px;
  font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans;

  @media screen and (max-width: 1280px) {
    font-size: calc(100vw / 12.80);
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-size: .18rem;
  color: var(--primary-text);
  background-color: var(--background-color);
}

a {
  color: var(--brand-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: .4rem;
}

h2 {
  font-size: .36rem;
}

h3 {
  font-size: .32rem;
}

h4 {
  font-size: .28rem;
}

h5 {
  font-size: .24rem;
}

h6 {
  font-size: .2rem;
}

p {
  margin: 0;
}

figure {
  display: block;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

input,
button {
  outline: none;
}

canvas {
  display: block;
}
